{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="makepost" class="item">
            <h3>New Post</h3>
            <form id="newpost-form">
                <textarea class="form-control" id="compose-body"style="padding:10px;resize:none;"></textarea>
                <input type="submit" class="btn btn-primary" style="margin:5px;" value="Post"/>
            </form>
        </div>
    {% endif %}
    <div id="posts"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}